{% extends "base.html" %}

{% block header %}
    <h1>Your emergency duty shifts</h1>
    <h2>{{ shifts_list | length }} shifts, {{ total_hours }} hours total</h2>
{% endblock %}

{% block content %}
    <section class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Duration</th>
                    <th>Swap</th>
                </tr>
            </thead>
            <tbody>

            {% for shift in shifts_list %}
                <tr class="shift-row">
                    <td class="shift-from" data-time="{{ shift.from }}">
                        {{ shift.from | timestamp_to_readable }}
                    </td>
                    <td class="shift-to" data-time="{{ shift.to }}">
                        {{ shift.to | timestamp_to_readable }}
                    </td>
                    <td class="shift-duration">
                        {{ shift | duration_to_readable }} hours
                    </td>
                    <td class="shift-swap">
                        {% if shift._id.__str__() in (swaps_list | shift_id_list)  %}
                            <button class="btn btn-light swap-handle" data-toggle="modal" data-target="#handle-modal" data-id="{{ shift._id }}">
                                Handle Offers
                            </button>
                            <button class="btn btn-light swap-toggle swap-open" data-id="{{ shift._id }}">
                                Revoke Request
                            </button>
                        {% else %}
                            <button class="btn btn-light swap-toggle" data-id="{{ shift._id }}">
                                Open Request
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="modal fade" id="handle-modal" tabindex="-1" role="dialog" aria-labelledby="handle-modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="handle-modal-label">
                            New message
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}
