<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Shift exchange platform for pharmacies in germany"/>
    <title>Shiftex - Your emergency duty shift-plan</title>

    <!-- Stylesheet area -->
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato&display=swap"/>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link type="text/css" rel="stylesheet"  href="{{ url_for("static", filename="css/style.css") }}"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for("static", filename="images/favicon.png") }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for("static", filename="images/favicon.png") }}" type="image/x-icon">

    <!-- Script area -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js" integrity="sha512-wV7Yj1alIZDqZFCUQJy85VN+qvEIly93fIQAN7iqDFCPEucLCeNFz4r35FCo9s6WrpdDQPi80xbljXB8Bjtvcg==" crossorigin="anonymous"></script>

    <script defer>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    {% block script %}
    {% endblock %}

</head>
<body>

<!-- Nav -->
{% include "/_includes/_navbar.html" %}

<!-- Header -->
<header class="container-lg">
    {% block header %}
    {% endblock %}
</header>

<!-- Flash Messages -->
<div class="container-lg">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<!-- Content -->
<section class="container-lg">
    {% block content %}
    {% endblock %}
</section>

<!-- Footer -->
<footer class="text-center bg-light">
    Project for educational purposes
    <h3>Find me on</h3>
    <ul class="social-link-list list-inline">
        <li class="list-inline-item">
            <a href="https://github.com/apometricsTK/" target="_blank" rel="noreferrer">
                <i class="fab fa-github-square" aria-hidden="true"></i>
                <span class="sr-only">Link to GitHub</span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/tobias-kast/" target="_blank" rel="noreferrer">
                <i class="fab fa-linkedin" aria-hidden="true"></i>
                <span class="sr-only">Link to LinkedIn</span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.xing.com/profile/Tobias_Kast5/" target="_blank" rel="noreferrer">
                <i class="fab fa-xing-square" aria-hidden="true"></i>
                <span class="sr-only">Link to Xing</span>
            </a>
        </li>
    </ul>
</footer>

</body>
</html>
