{% extends "base.html" %}

{% block header %}
    <h1>Today on emergency duty</h1>
    <h2>{{ today_time }}; {{ today_duty_list | length }} pharmacies</h2>
{% endblock %}

{% block content %}
    <section class="container-lg">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>Street</th>
                    <th>Zip</th>
                    <th>City</th>
                    <th>From</th>
                    <th>To</th>
                </tr>
            </thead>
            <tbody>

            {% for shift in today_duty_list %}
                <tr>
                    {% if shift.drugstore.homepage != "" %}
                        <td>
                            <a href="https://{{ shift.drugstore.homepage }}" target="_blank">
                                {{ shift.drugstore.name }}
                            </a>
                        </td>
                    {% else %}
                        <td>{{ shift.drugstore.name }}</td>
                    {% endif %}
                    <td>{{ shift.drugstore.street }}</td>
                    <td>{{ shift.drugstore.zipCode }}</td>
                    <td>{{ shift.drugstore.location }}
                        {%- if shift.drugstore.subLocation -%}
                            , {{ shift.drugstore.subLocation }}
                        {% endif %}
                    </td>
                    <td>
                        {{ shift.from | timestamp_to_readable | datetime_to_str }}
                    </td>
                    <td>
                        {{ shift.to | timestamp_to_readable | datetime_to_str }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </section>
{% endblock %}
