{% extends "base.html" %}

{% block script %}
    <script defer src={{ url_for("static", filename="js/register.js") }}></script>
{% endblock %}

{% block header %}
    <h1>Sign up to manage your shifts</h1>
{% endblock %}

{% block content %}
    <section class="container">

        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend>
                    Register
                </legend>
                <small>
                    (Registration is on "one-account-per-drugstore"-basis)
                </small>

                <div class="form-group">
                    {{ form.first_name.label(class="form-control-label") }}
                    {{ form.first_name(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.last_name.label(class="form-control-label") }}
                    {{ form.last_name(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(type="email",class="form-control is-invalid") }}
                        <div class="error">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(type="email", class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.drugstore_id.label(class="form-control-label") }}
                    {% if form.drugstore_id.errors %}
                        {{ form.drugstore_id(class="form-control is-invalid") }}
                        <div class="error">
                            {% for error in form.drugstore_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.drugstore_id(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid") }}
                        <div class="error">
                            {% for error in form.password.errors %}
                                <span class="password-hint">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password_confirm.label(class="form-control-label") }}
                    {{ form.password_confirm(class="form-control") }}
                </div>
                <div class="form-check">
                    {{ form.agreed }}
                    {{ form.agreed.label(class="form-control-label") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-secondary") }}
            </div>
        </form>

    <div>
        Already got an Account?
        <a href="{{ url_for("users.login") }}">Log In</a>
    </div>

    </section>
{% endblock %}
