{% extends "base.html" %}

{% block script %}
    <script defer src={{ url_for("static", filename="js/user.js") }}></script>
{% endblock %}

{% block header %}
    <h1>Your emergency duty shifts</h1>
    <h2>{{ users_shifts_list | length }} shifts, {{ total_hours }} hours total</h2>
    <h2>{{ current_user.email }}</h2>
{% endblock %}

{% block content %}
    <section class="container-lg">

        <h2>Show</h2>

        <div class="input-group pb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="radio" id="shifts" name="list" value="shifts" checked>
                </div>
            </div>
            <label class="form-control bg-light" for="shifts">My shifts</label>

            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="radio" id="requests" name="list" value="requests">
                </div>
            </div>
            <label class="form-control" for="requests">Rotation plan swap requests</label>

            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="radio" id="both" name="list" value="both">
                </div>
            </div>
            <label class="form-control bg-light" for="both">Both</label>

            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" id="show-future-only" name="list" value="upcoming" checked>
                </div>
            </div>
            <label class="form-control bg-light" for="show-future-only">Upcoming only</label>

        </div>

        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Duration</th>
                    <th>Swap</th>
                </tr>
            </thead>
            <tbody>

            {% for shift in users_shifts_list | sort(attribute="from") %}

                {% if shift.from > yesterday_stamp %}
                    <tr class="shift-row upcoming">
                        {% else %}
                    <tr class="shift-row" style="display: none;">
                {% endif %}

                        <td class="shift-from" data-time="{{ shift.from }}">
                            {{ shift.from | timestamp_to_readable | datetime_to_str }}
                        </td>
                        <td class="shift-to" data-time="{{ shift.to }}">
                            {{ shift.to | timestamp_to_readable | datetime_to_str }}
                        </td>
                        <td class="shift-duration">
                            {{ shift | duration_to_readable }} hours
                        </td>
                        <td class="shift-swap">
                            {% if shift._id.__str__() in (rotation_swaps_list | shift_id_list)  %}
                                <button class="btn btn-block btn-outline-success swap-handle" data-toggle="modal"
                                        data-target="#handle-modal" data-id="{{ shift._id }}">
                                    Handle Offers
                                </button>
                                <button class="btn btn-block btn-outline-danger swap-toggle swap-open"
                                        data-id="{{ shift._id }}">
                                    Revoke Request
                                </button>
                            {% else %}
                                <button class="btn btn-block btn-outline-secondary swap-toggle" data-id="{{ shift._id }}">
                                    Request Swap
                                </button>
                            {% endif %}
                        </td>
                    </tr>
            {% endfor %}

            {% for request in rotation_swap_requests_list | sort(attribute="from") %}

                {% if request.from > yesterday_stamp %}
                    <tr class="request-row upcoming" style="display: none;">
                {% else %}
                    <tr class="request-row" style="display: none;">
                {% endif %}

                        <td class="request-from" data-time="{{ request.from }}">
                            {{ request.from | timestamp_to_readable | datetime_to_str }}
                        </td>
                        <td class="request-to" data-time="{{ request.to }}">
                            {{ request.to | timestamp_to_readable | datetime_to_str }}
                        </td>
                        <td class="request-duration">
                            {{ request | duration_to_readable }} hours
                        </td>
                        <td class="request-swap">
                            {% if request.shiftId in (users_accepted_offers | shift_id_list) %}
                                <button class="btn btn-block btn-outline-info confirm-swap" data-toggle="modal"
                                      data-target="#confirm-modal" data-id="{{ request.shiftId }}"
                                      data-confirm="{{ request.shiftId | accept_id_from_list(users_accepted_offers) }}">
                                    Confirm
                                </button>
                            {%  else %}
                                <button class="btn btn-block btn-outline-info offer-swap" data-toggle="modal"
                                        data-target="#offer-modal" data-id="{{ request.shiftId }}">
                                    Offer swap
                                </button>
                            {% endif %}
                        </td>
                    </tr>
            {% endfor %}

            </tbody>
        </table>

        <div class="modal fade" id="handle-modal" tabindex="-1" role="dialog"
             aria-labelledby="handle-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="handle-modal-label">
                            Offers for shift on
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="offer-modal" tabindex="-1" role="dialog"
             aria-labelledby="offer-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="offer-modal-label">
                            Possible swaps for shift on
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog"
             aria-labelledby="confirm-modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirm-modal-label">
                            Confirm one of your accepted offers for the shift
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer confirm-modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}
